<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>lesson 2</title>
    <style>
        .red {
            color: red;
        }
        .blue {
            color: blue;
        }

        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
    <div id="app" v-cloak>

        <h1 :[attr.name]="attr.value">Hello vue</h1>
        <div v-bind="myAttr"> dinamyc attributes</div>
        <div :class="`${isClass ? 'red' : 'blue'}`"> dinamyc attributes</div>
        <div :class="{
            red: isClass
        }"> dinamyc attributes</div>

<!--        <button type="submit" v-on="">click me</button>-->
        <button type="submit" @click.prevent="clickHandler">click me</button>
        <br><br>
        <a href="google.com" @click.stop>google</a>
        <br><br>

<!--        вичисляємі свойства-->
        <span>{{ myCompTest }}</span>
        <br>
        <input type="text" v-model="forComputed">
        <p>{{forComputed}}</p>
        <br>
        <input type="text" v-model="testWatch.attr1">
        <p>{{testWatch.attr1}}</p>


        <global-btn name="my btn"></global-btn>
        <br>

        <my-local-btn :name="testWatch.attr1" @click-sintetic="clickHandler"></my-local-btn>
        <br>

        <my-local-btn name="test native" @click.native="clickHandler"></my-local-btn>
        <br>
        <br>

<!--        <guests-wrap></guests-wrap>-->
        <div class="guests">
            <g-w></g-w>
        </div>

        <br>
        <news></news>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="components/globalBtn.js"></script>
    <script src="components/localBtn.js"></script>
    <script src="components/news/news-card.js"></script>
    <script src="components/news/news.js"></script>
    <script src="guests.js"></script>
    <script src="components/guests/guest-card.js"></script>
    <script src="components/guests/guests-wrap.js"></script>
    <script src="main.js"></script>
</body>
</html>
