<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>homework2 task1</title>
</head>
<body>
<style>
    .done {
        text-decoration: line-through;
    }
    b {
        font-weight: 600;
    }
</style>

<div id="app">
    <span>Write name, company, email, phone or address of the guests. <br>You are searching for  <b>{{activeCategory}}.</b></span><br>
    <input type="text" v-model = "search" placeholder="search name guest">

    <h1>{{title}}</h1>
    <div>
        <button @click="people()" value="all" type="button">all</button>
        <button @click="people('present')" type="button">present</button>
        <button @click="people('absent')" value="missing" type="button">absent</button>
        <button @click="people('else')">+10</button>
    </div>
    <div >
        Count of results: {{searchResults.length}}

        <guest
            v-for="(guest, index) in guestsListSearch"
            v-if="index < number"
            v-bind:guest="guest"
        ></guest>
    </div>

</div>

<script src="guests.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="components/guest-wrap.js"></script>
<script src="main.js"></script>

</body>
</html>
